

{% extends 'base.html' %}

{% block body %}
	<!-- all products page for the admin -->
	<header class="website-header">
		<div class="div-logo">
			<a href = " {{ url_for('.dashboard') }} " class="logo-text"> Dashboard </a>
		</div>
		
		<nav class="website-nav">
			<a href = " {{ url_for('.admin_category') }} "> Product Category </a>
			<a href = " {{ url_for('.all_products') }} "> Products </a>
			<a href = " {{ url_for('.all_users') }} ">  Customers </a>
			<a href = " {{ url_for('.frequent_products') }} ">Frequently Viewed Products </a>
			<a href = " {{ url_for('.admin_customer_orders') }} "> All Orders  </a>
			<a href = " {{ url_for('.admin_logout') }} "> Log out </a>
		</nav>
	</header>
	
	
	<div id="product-grid">
		<div class="txt-heading"> Products </div>
		<div> </div>
		<br> <br> 
		{% for product in products %}
			<div class="txt-heading"> 
				{% for char in product %}
					{{ char.upper() }}
				{% endfor %}	
            </div>
            <br> <br>
			{% for item in products[product] %}
				<div class="product-item">
					<form method="POST" action="">
						<div class="product-image"> <img src="static/products/{{ item[0] }} " ></div>
						<div class="product-tile-footer">
							<a href="{{ url_for('.admin_view_product', code=item[3] ) }} "  style="color: black;" >
								<div class="product-title" > {{ item[1] }} </div> 
							</a>
							<div class="product-price">&#8377; {{ item[2] }} </div>
							<br>
							<span style="display: inline-block;" class="product-title" align="right" >ID: {{ item[3] }} </span> 
							<div class="cart-action">
								
								<input type="hidden" id="code" name="code" value="{{ item[3] }}"/>
								<input type="text" class="product-quantity" name="quantity" value="{{ item[4] }}" readonly size="2" />
								<input type="hidden" id="imageName" name="imageName" value="{{ item[0] }}" />
								<input type="hidden" id="productPrice" name="productPrice" value="{{ item[2] }}" />
								<!-- <input type="submit" value="Add to Cart" class="btnAddAction" /> -->
							</div>
						</div>
					</form>
				</div>
				
			{% endfor %}
			<div style="clear: both;"> </div>
		{% endfor %}
	</div>
		
{% endblock %}