
{% extends 'base.html' %}

{% block body %}

	<!-- <p> Admin login page </p> -->

	{% with messages = get_flashed_messages() %}  
		{% if messages %}  
			{% for message in messages %}  
				{% if message == 'Please fill all the details' %}
					<script> alert('Please fill all the details ') </script>
				{% elif message == 'Invalid username or password' %}
					<script> alert('Invalid username or password')	</script>
				{% elif message == 'You are logged out' %}
					<script> alert('You are logged out')	</script>					
				{% endif %}
			{% endfor %}  
		{% endif %}  
    {% endwith %}
	
	<div align="center" class="signup-form-box">
		<div align="center" class="signin-border">
			<div class="signup-header">
				<h1 class="word"> Log In </h1>
				<p> *All fields are mandatory</p>
			</div> <br> 
			
			<h2 class="signup-word"> 
				<form action=" {{ url_for('admin_login')}} " method="post">
		
					<input id="username" name="username" type="text" placeholder="username" required="required" class="signup-textbox" /> <br> <br>
					<input id="password" name="password" type="password" placeholder="password" required="required" class="signup-textbox" /> 
					
					<br>
					<span>
						<input type="checkbox" onclick="hidePasswordVisibility()" /> <p class="hide-word">Show Password </p>
					</span>					 
					<br> <br>
					<input type="submit" class="signup-btn" value="Log In" /> <br> 
				</form>
			</h2>

		</div>
	<div>
	
	<div> <br/> <br/> <br/> </div>

{% endblock %}
