
{% extends 'base.html' %}

{% block body %}

	<!-- <p> sign up page </p> -->
	
	<header class="website-header">
		<div class="div-logo">
			<a href = " {{ url_for('.website') }} " class="logo-text"> Ecomm </a>
		</div>
		
		<nav class="website-nav">
			<a href = " {{ url_for('.signup') }} "> Sign up </a>
			<a href = " {{ url_for('.customer_login') }} "> Log in </a>
		</nav>
	</header>
	
	<div align="center">
		<div align="center" class="signup-border">
			<div class="signup-header">
				<h1 class="word"> Sign up </h1> 
			</div> <br/> 
			
			<h2 class="signup-word"> 
				<form action=" {{ url_for('signup')}} " method="post">
					
					<input id="firstname" name="firstname" type="text" placeholder="first name" class="signup-textbox" /> </br> </br>
					<input id="lastname" name="lastname" type="text" placeholder="lastname" class="signup-textbox" /> </br> </br>
					<input id="email" name="email" type="text" placeholder="email" class="signup-textbox" /> </br> </br>
					<input id="contact" name="contact" type="phone" placeholder="mobile-no" class="signup-textbox" /> </br> </br>
					<input id="username" name="username" type="text" placeholder="username" class="signup-textbox" /> </br> </br>
					<input id="password" name="password" type="text" placeholder="password" class="signup-textbox" /> </br> </br>
					<input type="submit" class="signup-btn" value="Sign Up" /> <br/> 
				
				</form>
			</h2>
			<p class="already-signed-in">Already have an account? &nbsp; 
				<a class="already-signed-in" href=" {{ url_for('customer_login') }} "> Log In <a> 
			</p>
		</div>
	<div>

	<div> <br/> <br/> <br/>  </div>

{% endblock %}
