{% extends 'base.html' %}

{% block body %}
	<!-- Home page for the website -->
	<header class="website-header">
		<div class="div-logo">
			<a href = " {{ url_for('.website') }} " class="logo-text"> Ecomm </a>
		</div>
		
		<nav class="website-nav">
			<a href = " {{ url_for('.signup') }} "> Sign up </a>
			<a href = " {{ url_for('.customer_login') }} "> Log in </a>
		</nav>
	</header>

	<div id="product-grid">
		<div class="txt-heading"> Products </div>
		{% for product in products %}
			{% for item in products[product] %}
				<div class="product-item">
					<form method="post" action=" ">
						<div class="product-image"> <img src="static/products/{{ item[0] }} " ></div>
						<div class="product-tile-footer">
							<div class="product-title"> {{ item[1] }} </div>
							<div class="product-price">&#8377; {{ item[2] }} </div>
							<div class="cart-action">
								<input type="submit" value="Add to Cart" class="btnAddAction" />
							</div>
						</div>
					</form>
				</div>
			{% endfor %}
		{% endfor %}
	</div>
		
{% endblock %}
